/* DOCUMENT */
* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* ELEMENTS */
  
  header > p {
    font-size: 24px;
    margin-top: auto;
  }
  
  header > img {
    height: 70px;
    width: 215px;
  }
  
  /* CLASSES */
  .menu {
    background: #2b2d2f;
    color: white;
    display: flex;
    justify-content: center;
  }

  .menu .list {
    display: inline-block;
    list-style: none;
  }

  .nav-link {
    color: white !important;
  }

  .link:link,
  .link:visited {
    color: white;
  }
  
  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    aside {
      display: none;
    }
  
    header > p {
      font-size: 18px;
      margin-right: 5%;
    }
  
    section > img {
      height: 150px;
    }
  
    .menu {
      padding-right: 10%;
    }
  
    .menu .list {
      display: flex;
      flex-direction: column;
    }
  }

  /* CHAMPS INVALIDES */
  input:invalid{
    border-color: #900;
    background-color: #FDD;
  }

  input:focus:invalid {
    outline: none;
  }
  
  /* MESSAGES PERSONNALISES D'ERREURS */
  .erreur {
    width  : 100%;
    padding: 0;
   
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .erreur.active {
    padding: 0.3em;
  }