/* GLOBAL */
* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* ELEMENTS */
  
  header > p {
    font-size: 24px;
    margin-top: auto;
  }
  
  header > img {
    height: 80px
    width: 215px;
  }
  
  section > img {
    height: 100px;
  }
  
  /* CLASSES */
  .colonne {
    background: lightgray;
  }
  
  .menu {
    background: #2b2d2f;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
  }
  
  .menu .list {
    display: inline-block;
    list-style: none;
  }
  
  .link:hover {
    color: lightgray;
    text-decoration: none;
  }
  
  .link:link,
  .link:visited {
    color: white;
  }
  
  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    aside {
      display: none;
    }
  
    header > p {
      font-size: 16px;
      margin-right: 5%;
    }
  
    section > img {
      height: 150px;
    }
  
    .menu {
      padding-right: 10%;
    }
  
    .menu .list {
      display: flex;
      flex-direction: column;
    }
  }
  
  /* OVERRIDING */
  .bg-dark {
    background-color: #2b2d2f !important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link:hover {
    color: lightgray !important;
  }